* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;  /* Fondo gris claro */
    color: #333;  /* Color de texto oscuro para mejor legibilidad */
}

.container {
    max-width: 800px;
    margin: 40px auto;
    background-color: #ffffff;  /* Fondo blanco para el contenedor */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
}

.container:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    color: #005580;  /* Azul de Grupo Modelo */
    margin-bottom: 20px;
    font-size: 2.5em;
    font-weight: 600;
}

.directory {
    margin-top: 20px;
    border-top: 2px solid #005580;  /* Línea divisoria superior en azul de Grupo Modelo */
    padding-top: 20px;
}

h2 {
    margin-bottom: 15px;
    color: #005580;  /* Color azul de Grupo Modelo para subtítulos */
    font-weight: 500;
    border-bottom: 1px solid #005580;  /* Línea divisoria inferior en azul de Grupo Modelo */
    padding-bottom: 10px;
}

.file-list {
    list-style-type: none;
    padding: 0;
}

.file-list > li {
    margin: 20px 0;  /* Espaciado entre elementos de la lista */
}

.folder {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    background-color: #005580;  /* Azul de Grupo Modelo para carpetas */
    color: #ffffff;  /* Texto blanco */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.folder:hover {
    background-color: #004357;  /* Color más oscuro en hover */
    transform: scale(1.02);
}

.sub-list {
    padding-left: 20px;
    display: none;
    margin-top: 10px;  /* Espacio entre subcarpetas */
}

.sub-list.active {
    display: block;
}

.sub-list li {
    margin-top: 10px;  /* Espacio entre subcarpetas individuales */
}

.file {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: #6c757d;  /* Gris para archivos */
    color: #ffffff;  /* Texto blanco */
    border-radius: 5px;
    margin-top: 10px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.file:hover {
    background-color: #5a6268;  /* Color más oscuro en hover */
}

.file i,
.folder i {
    margin-right: 10px;
}
